PORT=8000
MONGODB_URL=mongodb+srv://ankushpatel6753_db_user:Ankush2413@cluster0.mt11bgr.mongodb.net/?appName=Cluster0

ACCESS_TOKEN_SECRET=OTUCkcyqgZAaMØogRHV1g9GG_Gzh9zMocy03UtNdDNtoJØXØ-5n3DmVkx08MCFRSLD9cv1kBfLwK7fdO
ACCESS_TOKEN_EXPIRAY=1d

REFRESH_TOKEN_SECRET=sjfhdshofifihihaw9ew9eGG_Gzh9zMocy03UtNdDNtoJØXØ-5n3DmVkx08MCFRSLD9cv1kBfLwK7fdO

REFRESH_TOKEN_EXPIRY=10d
MONGODB_URL=mongodb+srv://ankushpatel6753_db_user:Ankush2413@cluster0.mt11bgr.mongodb.net/?appName=Cluster0